
<product-component></product-component>
<main class="jumbotron" >
    <div class="container "  >
        <div class="row pb-5">
            <div class="col-lg-6 text-left">
                <h1 class="h2" ng-bind="view.title"></h1>     
            </div>
            <div class="col-lg-6 text-right">
                <a ui-sref="ProductEdition({product_id: '0'})" class="btn btn-success">Novo <i class="fas fa-plus"></i></a>
            </div>
        </div>           
    </div>
        
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-12">
               <error-message ng-show="error"></error-message>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Origem</th>
                            <th>Custo</th>
                            <th>Estoque</th>
                            <th>Custo total</th>
                            <th>Preço</th>
                            <th>Desconto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in view.products track by $index">
                            <td> {{product.id}} </td>
                            <td> {{product.name | limiter: 15: "," }} </td>
                            <td> {{product.description | limiter: 15 }} </td>
                            <td> {{product.origin }} </td>
                            <td> {{product.cost | currency: 'R$&nbsp;' }} </td>
                            <td> {{product.stock.quantity}} </td>
                            <td> {{(product.cost * product.stock.quantity) | currency: 'R$&nbsp;' }} </td>
                            <td> {{product.price | currency: 'R$&nbsp;' }} </td>
                            <td> {{product.discount | currency: 'R$&nbsp;' }} </td>
                            <td class="d-flex flex-row">
                                <a ui-sref="ProductEdition({product_id: product.id})" ui-sref-active="cls_active" ng-if="product.origin != 'MANUFACTURED'" class="btn btn-primary p-1 mr-1"><i class="fas fa-pen"></i></a>
                                <button class="btn btn-danger p-1" ng-click="view.handleDeleteProduct(product.id)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
       </div>
  </main> 
